# Node modules
node_modules/
**/node_modules/

# Variables de entorno
.env
**/.env

# Archivos comprimidos
*.rar
*.zip

# Archivos del sistema
.DS_Store
Thumbs.db

# Build
dist/
build/
**/dist/
**/build/